@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

// colors
$gradient-aqua-to-navi: linear-gradient(to right, #30CFD0 0%, #330867 100%);
$lightgrey: gainsboro;
$grey: grey;
$darkgrey: rgba(0,0,0,0.6);

//fonts
$ff-open-sans: 'Libre Franklin', sans-serif;